<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace = 연결되는 인터페이스 -->    
<mapper namespace="com.spring.dao.BoardInter">
	<!-- 김대리의 한마디 글 리스트 -->
	<select id="kimSayList" resultType="com.spring.dto.BoardDTO">
		SELECT * FROM (SELECT board_no, board_title, board_comm, board_recom, board_content, board_category, board_date, board_bHit, job_no, 
			ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum FROM board WHERE (board_category = '잡담' OR board_category = '이직' OR board_category = '업무질문') AND job_no= #{param1}) 
				WHERE rnum BETWEEN #{param2} AND #{param3} 
						<if test="param4 == 'false'">
							ORDER BY board_date DESC
						</if>
						<if test = "param4 == 'like'">
							ORDER BY board_recom DESC
						</if>
						<if test = "param4 == 'hit'">
							ORDER BY board_bHit DESC
						</if>
	</select>

	<select id="kimSayListCnt" resultType="int">
		SELECT COUNT(*) FROM board WHERE (board_category = '잡담' OR board_category = '이직' OR board_category = '업무질문') AND job_no = #{param1}
	</select>

	<!-- 내용 검색도 가능하게 수정(0717 - 성원) -->
	<select id="kimSaySearchList" resultType="com.spring.dto.BoardDTO">
		SELECT * FROM (SELECT board_no, board_comm, board_recom, board_title, board_content, board_category, board_date, board_bHit, job_no,
        	ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum FROM board WHERE (board_category=#{param2} AND job_no=#{param3}) AND (board_title LIKE '%'||#{param1}||'%' OR board_content LIKE '%'||#{param1}||'%'))
            	WHERE rnum BETWEEN #{param4} AND #{param5} 
	                	<if test="param6 == 'false'">
							ORDER BY board_date DESC
						</if>
						<if test = "param6 == 'like'">
							ORDER BY board_recom DESC
						</if>
						<if test = "param6 == 'hit'">
							ORDER BY board_bHit DESC
						</if>
	</select>
	
	<select id="kimSaySearchListCnt" resultType="int">
		SELECT COUNT(*) FROM board
			WHERE (board_category=#{param2} AND job_no=#{param3}) AND (board_title LIKE '%'||#{param1}||'%' OR board_content LIKE '%'||#{param1}||'%')
	</select>
	
	<!-- 김대리의 한마디 상세보기 -->
	<select id="kimSayDetail" resultType="com.spring.dto.BoardDTO">
		SELECT board_no, board_category, board_title, board_date, board_content, board_recom, member_id, job_no from board where board_no=#{param1}
	</select>
	
	<!-- 김대리의 한마디 글 작성 -->
	<insert id="kimSayWrite">
		INSERT INTO board(board_no, board_category, member_id, board_title, board_content, job_no) 
			VALUES(board_seq.NEXTVAL,#{param1},#{param4},#{param2},#{param3},#{param5})
	</insert>
	
	<!-- param 순서 = inter 순서 -->
	<!-- 김대리의 한마디 수정-->	
	<update id="kimSayUpdate">
	 	UPDATE board SET board_category = #{param1}, board_title = #{param2}, board_content = #{param3} WHERE board_no = #{param4}
	 </update>
	
	<!-- 김대리의 한마디 삭제 -->
	<delete id="kimSayDelete" >
		DELETE FROM board WHERE board_no = #{param1} 
	</delete>
	
	
	<!-- 공지사항 리스트 및 검색-->
	<select id="nBoardList" parameterType="hashMap" resultType="com.spring.dto.BoardDTO">
		SELECT board_no,board_title,board_content,board_date,board_bHit 
			FROM 
			(SELECT board_no,board_title,board_content,board_date,board_bHit, 
					ROW_NUMBER() OVER(ORDER BY board_no DESC) 
					AS rnum FROM board 
 				<where>
 					(member_id=#{loginId}) AND
					<if test="keyword !=null || !keyword.equals('')">
						(board_title LIKE '%'||#{keyword}||'%'  OR board_content LIKE '%'||#{keyword}||'%')
					</if>					
				</where>    
				) WHERE rnum BETWEEN #{startPage} AND #{addPage} ORDER BY board_date DESC
	</select>
	
	<!-- 공지사항 작성  -->
	<!-- 글쓰기(등록된 글의 idx 컬럼을 반환) -->
	<!-- 
		parameterType="com.file.dto.BoardBean" <-파라메터로 사용될 빈
		useGenertedKeys="true" <- insert 후 키 생성 여부
		keyProperty = "idx" <- 키가 될 필드
		keyColumn = "idx" <- 키가 저장될 컬럼
	 -->
	<insert id="nBoardWrite"  parameterType="com.spring.dto.BoardDTO">
		INSERT INTO board(board_no,member_id,board_title,board_content) 
			VALUES(board_seq.NEXTVAL,'admin',#{board_title},#{board_content})
	</insert>
	
	
 	<!-- 공지사항 상세보기  -->
	<select id="nBoardDetail" resultType="com.spring.dto.BoardDTO"> 
	SELECT * FROM board WHERE board_no = #{param1}	
	</select>
	
	<!-- 공지사항 삭제 -->
	<delete id="nBoardDelete" >
		DELETE FROM board WHERE board_no = #{param1} 
	</delete>
	
	<!-- 공지사항 수정 -->
	<update id="nBoardUpdate" parameterType="hashMap">
		UPDATE board SET board_title = #{board_title}, board_content=#{board_content}
		WHERE board_no =#{board_no}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="upHit">
		UPDATE board SET board_bHit = board_bHit+1 WHERE board_no= #{param1}
	</update> 	
	
	<select id="listCnt" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) FROM board WHERE member_id = #{loginId}
	</select>
	
	
	<select id="myWriteList" parameterType="map" resultType="com.spring.dto.BoardDTO">
		<!-- SELECT rnum, board_no, board_title, board_date 
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY board_date DESC) AS rnum, board_no, board_title, board_date 
			FROM board WHERE member_id = 'test') 
		WHERE rnum BETWEEN #{sNum} AND #{eNum} -->
      
		SELECT rnum, board_no, board_title, board_date, member_id 
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY board_date DESC) AS rnum, board_no, board_title, board_date, member_id FROM board) 
		<where>
			rnum BETWEEN #{sNum} AND #{eNum} AND member_id = #{userId}
		</where>
	</select>
   
	<select id="myWriteListCnt" parameterType="map" resultType="int">
   		SELECT COUNT(*) FROM board 
   		<where>
   			member_id = #{userId}
   		</where>
	</select>
	
	<select id="myReplyList" parameterType="map" resultType="com.spring.dto.ReplyDTO">
		SELECT rnum, board_no, reply_content, reply_date, member_id 
      	FROM (SELECT ROW_NUMBER() OVER(ORDER BY reply_date DESC) AS rnum, board_no, reply_content, reply_date, member_id FROM reply)
      	<where>
      		rnum BETWEEN #{sNum} AND #{eNum} AND member_id = #{userId}
      	</where>
	</select>
	
   	<select id="myReplyListCnt" parameterType="map" resultType="int">
   		SELECT COUNT(*) FROM reply 
   		<where>
   			member_id = #{userId}
   		</where>
	</select>
	
	<select id="myLikeCount" resultType="int">
		SELECT COUNT(*) FROM recommand WHERE member_id = #{param1} AND board_no = #{param2}
	</select>
	
	<select id="likeCount" resultType="int" parameterType="int">
		SELECT board_recom FROM board WHERE board_no = #{param1}
	</select>
	
	<insert id="myLikeUp">
		INSERT INTO recommand VALUES(#{param2}, #{param1})
	</insert>
	
	<delete id="myLikeDown">
		DELETE FROM recommand WHERE member_id = #{param1} AND board_no = #{param2}
	</delete>
	
	<!-- 추천수 증가 -->
	<update id="upLike">
		<if test="param1 != true">
			UPDATE board SET board_recom = board_recom+1 WHERE board_no = #{param2}
		</if>
		<if test="param1 == true">
			UPDATE board SET board_recom = board_recom-1 WHERE board_no = #{param2}
		</if>
	</update> 
	
	<insert id="replyWrite" parameterType="com.spring.dto.ReplyDTO">
		INSERT INTO reply(reply_no,board_no,member_id,reply_content,reply_date) 
		VALUES (reply_seq.NEXTVAL, #{param2}, #{param1}, #{param3}, SYSDATE) 
	</insert>

	<update id="replyCountUp">
		UPDATE board SET board_comm = board_comm+1 WHERE board_no = #{param1}
	</update>

	<select id="replyList" resultType="com.spring.dto.ReplyDTO" parameterType="int">
		SELECT * FROM reply WHERE board_no = #{param1} ORDER BY reply_no ASC 
	</select>
	
	<update id="replyUpdate">
		UPDATE reply SET reply_content = #{param2} WHERE reply_no = #{param1}
	</update>
	
	<delete id="replyDelete">
		DELETE FROM reply WHERE reply_no = #{param1}
	</delete>
	
	<update id="replyCountDown">
		UPDATE board SET board_comm = board_comm-1 WHERE board_no = #{param1}
	</update>
	
	<!-- 모르면 물어봐 글 리스트 -->
	<select id="qnaList" resultType="com.spring.dto.BoardDTO">
		SELECT * FROM (SELECT board_no, board_title, board_comm, board_recom, board_content, board_category, board_date, board_bHit, 
			ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum FROM board WHERE (board_category = '물어봐')) 
				WHERE rnum BETWEEN #{param2} AND #{param3} 
						<if test="param4 == 'false'">
							ORDER BY board_date DESC
						</if>
						<if test = "param4 == 'like'">
							ORDER BY board_recom DESC
						</if>
						<if test = "param4 == 'hit'">
							ORDER BY board_bHit DESC
						</if>
	</select>

	<select id="qnaListCnt" resultType="int">
		SELECT COUNT(*) FROM board WHERE (board_category = '물어봐')
	</select>

	<!-- 내용 검색도 가능하게 수정(0717 - 성원) -->
	<select id="qnaSearchList" resultType="com.spring.dto.BoardDTO">
		SELECT * FROM (SELECT board_no, board_comm, board_recom, board_title, board_content, board_category, board_date, board_bHit,
        	ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum FROM board WHERE (board_category='물어봐') AND (board_title LIKE '%'||#{param1}||'%' OR board_content LIKE '%'||#{param1}||'%'))
            	WHERE rnum BETWEEN #{param2} AND #{param3} 
	                	<if test="param4 == 'false'">
							ORDER BY board_date DESC
						</if>
						<if test = "param4 == 'like'">
							ORDER BY board_recom DESC
						</if>
						<if test = "param4 == 'hit'">
							ORDER BY board_bHit DESC
						</if>
	</select>
	
	<select id="qnaSearchListCnt" resultType="int">
		SELECT COUNT(*) FROM board
			WHERE (board_category='물어봐') AND (board_title LIKE '%'||#{param1}||'%' OR board_content LIKE '%'||#{param1}||'%')
	</select>
	
	<!-- 모르면 물어봐 글 작성 -->
	<insert id="qnaWrite">
		INSERT INTO board(board_no, member_id, board_title, board_content, board_category) 
			VALUES(board_seq.NEXTVAL,#{param3},#{param1},#{param2},#{param4})
	</insert>
	
	<!-- 모르면 물어봐 상세보기 -->
	<select id="qnaDetail" resultType="com.spring.dto.BoardDTO">
		SELECT board_no, board_category, board_title, board_date, board_content, board_recom, member_id from board where board_no=#{param1}
	</select>
	
	<!-- 모르면 물어봐 글 수정-->	
	<update id="qnaUpdate">
	 	UPDATE board SET board_title = #{param1}, board_content = #{param2} WHERE board_no = #{param3}
	 </update>
	
	<!-- 모르면 물어봐 글 삭제 -->
	<delete id="qnaDelete" >
		DELETE FROM board WHERE board_no = #{param1} 
	</delete>
	
</mapper>