<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace = 연결되는 인터페이스 -->    
<mapper namespace="com.spring.dao.BoardInter">

	<!-- 공지사항 리스트 -->
	<select id="nBoardList" resultType="com.spring.dto.BoardDTO">
		SELECT board_no,board_title,board_date,board_bHit 
			FROM 
			(SELECT board_no,board_title,board_date,board_bHit, 
					ROW_NUMBER() OVER(ORDER BY board_no DESC) AS rnum FROM board) 
						WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<!-- 공지사항 작성  -->
	<!-- 글쓰기(등록된 글의 idx 컬럼을 반환) -->
	<!-- 
		parameterType="com.file.dto.BoardBean" <-파라메터로 사용될 빈
		useGenertedKeys="true" <- insert 후 키 생성 여부
		keyProperty = "idx" <- 키가 될 필드
		keyColumn = "idx" <- 키가 저장될 컬럼
	 -->
	<insert id="nBoardWrite" 
	parameterType="com.spring.dto.BoardDTO"
	useGeneratedKeys="true"
	keyProperty="board_no"
	keyColumn="board_no">
		INSERT INTO board(board_no,member_id,board_title,board_content) 
			VALUES(board_seq.NEXTVAL,'admin',#{board_title},#{board_content})
	</insert>
	
 	<!-- 공지사항 상세보기  -->
	<select id="nBoardDetail" resultType="com.spring.dto.BoardDTO"> 
	SELECT * FROM board WHERE board_no = #{param1}	
	</select>
	
	<!-- 공지사항 삭제 -->
	<delete id="nBoardDelete" >
		DELETE FROM board WHERE board_no = #{param1} 
	</delete>
	
	<!-- 공지사항 수정 -->
	<update id="nBoardUpdate">
		UPDATE board SET board_title=#{param1}, board_content=#{param2} WHERE board_no=${param3}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="upHit">
		UPDATE board SET board_bHit = board_bHit+1 WHERE board_no= #{param1}
	</update> 	
	
	
	<!-- 공지사항 게시물 총 수  -->
	<select id="allCount" resultType="Integer">
		SELECT COUNT(*) FROM board WHERE member_id ='admin'
	</select>
	
	

	
</mapper>